body {
    margin:0;
    padding:0;
    color: black;
    background:rgb(240, 230, 140);
    font-size: 18px;
    Font-family: Arial, Helvetica, sans-serif;
   }
   #wrapper {
    width: 90%;
    margin:0 auto;
    background:#99c;
   }
   #header {
    padding:5px 10px 5px 10px;
    background:#000000;
    color:#FFFFFF;
   }
   h1 {
    color:black;
    text-align: center
   }
   h2 {
    color:black;
    text-align: center
   }
   h3 {
    color:black;
    text-align: center
   }
   h4 {
    color:black;
    text-align: center
   }
   h5 {
    color:black;
    text-align: center
   }
    p {
        color: black;
        text-align: center;
      }
   #main {
    float: right;
    width:66%;
    background:#FFFFFF;
    height: 500px;
   }
   #sidebar {
    float: left;
    width:34%;
    background:#36F;
    height: 500px;
    color: #FF9933;
   }
   #footer {
    clear: both;
    background: #FFFF00;
    width:100%
   }
   #footer p {
    margin:0;
    padding:5px 0px
    ;text-align: center;
    font-size: 14px;
   }
   P, h2{
    padding-left:15px;
   }
   #printnotice {
    display: none;
   }